<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
</head>
<body>
<h1 style="color: crimson;font-size: 70px">Result</h1>
<table>
  <% @station.each do |staion| %>
    <tr class="st">
      <td class="line"><%= staion["line"] %></td>
      <td class="name"><%= staion["name"] %></td>
<!--      <td><%#= staion["next"] %></td>-->
    </tr>
  <% end %>
</table>

<div class="next">
  <p class="next_name"></p>
</div>
<form action="/">
  <input type="submit"value="back">
</form>
<% if @id %>
  <script src="<% @id %>/main.js"></script>
<% else %>
<script src="main.js"></script>
<% end %>
</body>

</html>